header {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1%;
  padding-top: 5%;
  padding-right: 20px;
  width: 100%;
  height: 10%; 
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  color: rgb(70, 77, 70);
}

a {
  text-decoration: none;
  font-size: 100%;
  padding-right: 20px;
  color: rgb(22, 22, 20);
}


span {
  color: rgb(109, 88, 91);
  font-size: 20px;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.main-content {
  display: flex;
}

.main-content2 {
  display: block;
  padding-left: 18%;
}
.main-content1 {
  padding-left: 2%;
}

p {
  font-size: 20px;
}
body {
  background-color: white;
}

h2 {
  padding-left: 2%;
}








.footerDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
}
.fut {
  color: #1d0404;
  font-size: 100%;
  padding: 3%;
  padding-left: 2%;
  padding-right: 18%;
  padding-bottom: 100px;
}
footer {
  background-color: whitesmoke;
}
.fut1 {
  color: #1d0404;
  font-size: 100%;
  padding: 3%;
  padding-left: 2%;
  padding-right: 8%;
  padding-bottom: 100px;
}